.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px auto;
}

.bg-color-grey{
    background: #7f8c8d;
}

.bg-color-orange {
    background: #d35400;
}

.bg-color-violet {
    background: #9b59b6;
}

.bg-color-red{
    background: #c0392b;
}

.bg-color-green{
    background: #2ecc71;
}